/* 首页相关 */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    height: 95%;
    background: #545c64;
    top: 0px;
}


/* Markdown相关样式 */

code {
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(223, 223, 118);
}